nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 4em;
  -webkit-box-shadow: 0 0 6px #696969;
  box-shadow: 0 0 6px #696969;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; /* Add your preferred background color */
  z-index: 100;
}

.logo {
  margin: 0;
}
.logo a {
  text-decoration: none;
  color: rgb(77, 76, 76);
  font-weight: 800;
  letter-spacing: -3px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
  list-style-type: none;
  padding: 0;
}

nav ul a {
  text-decoration: none;
  font-weight: 700;
  color: rgb(77, 76, 76);
  font-size: 18px;
}

nav ul a:hover {
  color: rgb(20, 215, 241);
}

.landingcontainer {
  width: 100%;
  height: 99vh;
  background: rgb(243, 243, 243);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7em;
}

.textandpicture {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

.textcontainer {
  flex: 0 0 40%;
}

.textcontainer h1 {
  font-size: 4em;
  font-weight: 800;
  color: rgb(77, 76, 76);
}

.textcontainer p {
  font-size: 18px;
}

.socials a {
  font-size: 2em;
  color: rgb(77, 76, 76);
}
.socials a:hover {
  color: rgb(20, 215, 241);
  cursor: pointer;
}

.wrapper {
  height: 350px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  background: url(../images/myavatar.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 350px;
  width: 350px;
  box-shadow: 0 20px 5px 5px rgba(0, 0, 0, 0.2);
  animation: animate 5s ease-in-out infinite;
  transform: all 1s ease-in-out;
}

@keyframes animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.stacks {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 40px;
}

.stacks p {
    font-size: 18px;
    font-weight: 500;
}

.stacks span {
    margin-left: 25px;
}

.slider {
  width: 400px;
  overflow: hidden;
  padding: 5px;
}

.slider-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
  transition: transform 0.3s ease-in-out;
}

.slider-list li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.slider-list li img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.aboutmesection {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.abtcontainer {
  width: 60%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
}

.abtimage {
  flex: 0 0 37%;
  height: 370px;
  position: relative;
}

.abtimage img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: block;
}


.rotatediv {
  position: absolute;
  bottom: -70px;
  right: -50px;
  width: 150px;
  height: 150px;
  background: rgb(248, 248, 111);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logos {
  position: absolute;
  width: 100px;
  height: 100px;
  background: url(https://w7.pngwing.com/pngs/476/1015/png-transparent-man-guy-male-business-laptop-computer-ethnic-working-office-thumbnail.png);
  background-size: cover;
  border-radius: 50%;
  filter: brightness(1.3) contrast(1.3);
}

.texter {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotateText 10s linear infinite;
}

.texter p {
  text-transform: uppercase;
  font-weight: 600;
}

@keyframes rotateText {
  0%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.texter span {
  position: absolute;
  left: 50%;
  font-size: 1.2em;
  transform-origin: 0 75px;
}


.abttext {
  flex: 0 0 50%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
}

.abttext h4 {
  text-transform: uppercase;
  font-weight: 800;
  color: rgb(20, 215, 241);
}

.abttext h3 {
  font-weight: 800;
}

.abttext p {
  font-size: 16px;
}

.certificates {
  width: 100%;
  background: rgb(243, 243, 243);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 8em;
}
.certificatestext {
  width: 60%;
}

.certificates h3 {
  text-transform: uppercase;
  font-weight: 800;
  color: rgb(20, 215, 241);
  text-align: left;
  margin-bottom: 30px;
}

.certificates p {
  font-size: 20px;
  width: 60%;
}

.radio {
  display: none;
}

.sliderdiv {
  max-width: 1040px;
  display: flex;
  overflow: scroll;
}


.sliderdiv div {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  flex: none;
}

.sliderdiv div img {
  width: 100%;
  filter: grayscale(100%);
  transition: transform 0.5s;
}

.sliderdiv::-webkit-scrollbar {
  display: none;
}

.certificatesdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}

#backBtn, 
#nextBtn {
  width: 50px;
  height: 50px;
  margin: 40px;
}

.sliderdiv div img:hover {
  filter: grayscale(0);
  cursor: pointer;
  transform: scale(1.1);
}

.projects {
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7em;
}

.projectsContainer {
  width: 60%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4em;
}

.projectsContainer h3 {
  text-transform: uppercase;
  font-weight: 800;
  color: rgb(20, 215, 241);
  text-align: left;
  margin-bottom: 20px;
}

.projectsContainer h2 {
  font-size: 2em;
  margin-bottom: 50px;
  
}

.projectCard {
  border-radius: 15px;
  background: rgb(252, 251, 251);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em;
  gap: 1em;
  -webkit-box-shadow: 0 0 10px #696969;
  box-shadow: 0 0 10px #696969;
}

.projectImage {
  border-radius: 15px;
  flex: 0 0 60%;
  overflow: hidden;
  height: 350px;
  -webkit-box-shadow: 0 0 10px #696969;
  box-shadow: 0 0 10px #696969;
}

.projectImage:hover {
  transform: scale(1.03);
}

.projectImage img {
  display: block;
  width: 100%;
  height: 100%;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 37%;
  height: 300px;
}

.projectInfo h4 {
  text-transform: uppercase;
}

.projectInfo p {
  font-size: 18px;
  font-weight: 500;
  color: rgb(128, 126, 126);
  text-align: center;
}

.toolsUsed {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.toolsUsed p {
  -webkit-box-shadow: 0 0 10px #696969;
  box-shadow: 0 0 10px #696969;
  color: black;
  padding: 5px;
  margin-bottom: 30px;
}


.projectLinks a{
   text-decoration: none;
   font-size: 18px;
   font-weight: 500;
   color: black;
}

.projectLinks i {
  font-size: 25px;
}

.projectCard:nth-of-type(odd) .projectImage {
  order: 2;
}

.projectCard:nth-of-type(odd) .projectInfo {
  order: 1;
}

.contactSection {
  background: rgb(243, 243, 243);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em;
}

.contactContainer {
   width: 60%;
   display: flex;
   flex-direction: column;
   gap: 3em;
   padding: 2em;
}

.contactText h4 {
  text-transform: uppercase;
  font-weight: 800;
  color: rgb(20, 215, 241);
  text-align: left;
}

.circles {
  display: flex;
  align-items: center;
  gap: 8em;
}

.circleCard {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.coninfo {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.coninfo i {
  font-size: 30px;
  color: rgb(20, 215, 241);
}

.textg p {
  padding: 0;
  font-size: 18px;
}

.textg p:first-of-type {
  font-weight: 800;
}

footer {
  background-color: #444444;
  width: 100%;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerContainer {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.footerContainer h4 {
  padding-bottom: 0;
}

.linkove {
  font-size: 28px;
  display: flex;
  gap: 0.5em;
}

.linkove a {
  color: white;
}

.linkove a:hover {
  transform: scale(1.2);
}
@media (width <= 1200px){
  .aboutmesection {
    height: auto;
    padding: 5em 0;
  }

  .abtcontainer {
    flex-direction: column;
    gap: 10em;
  }

  .abttext {
     text-align: center;
  }

  .certificates {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8em 2em;
  }

  .certificatestext {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .certificatesdiv {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
 
  .sliderdiv {
    max-width: 500px;
    width: 100%;
  }

  #backBtn, 
  #nextBtn {
  max-width: 50px;
  width: 10%;
  max-height: 50px;
  height: 10%;
  margin: 5px;
}

  .sliderdiv div {
    grid-template-columns: 100%;
  }
}

@media (width <= 900px) {
  .landingcontainer {
    height: auto;
    padding: 10em;
  }
  nav ul {
    display: none;
  }

  .textandpicture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .textcontainer {
    order: 2;
  }

  .wrapper {
    order: 1;
  }

  .stacks {
    flex-direction: column;
    align-items: center;
  }

  .stacks span {
    display: none;
  }

  .stacks p {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
  }

  .footerContainer {
    width: 100%;
  }

  .footerContainer h4 {
    font-size: 17px;
  }
}