nav {
  box-shadow: 1px 3px 5px gainsboro;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 4em;
}

.logo {
  margin: 0;
}
.logo a {
  text-decoration: none;
  color: rgb(77, 76, 76);
  font-weight: 800;
  letter-spacing: -3px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
  list-style-type: none;
  padding: 0;
}

nav ul a {
  text-decoration: none;
  font-weight: 700;
  color: rgb(77, 76, 76);
  font-size: 18px;
}

nav ul a:hover {
  color: rgb(20, 215, 241);
}

.landingcontainer {
  width: 100%;
  height: 99vh;
  background: rgb(243, 243, 243);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7em;
}

.textandpicture {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

.textcontainer {
  flex: 0 0 40%;
}

.textcontainer h1 {
  font-size: 4em;
  font-weight: 800;
  color: rgb(77, 76, 76);
}

.textcontainer p {
  font-size: 18px;
}

.socials a {
  font-size: 2em;
  color: rgb(77, 76, 76);
}
.socials a:hover {
  color: rgb(20, 215, 241);
  cursor: pointer;
}

.wrapper {
  height: 350px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  background: url(../images/myavatar.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 350px;
  width: 350px;
  box-shadow: 0 20px 5px 5px rgba(0, 0, 0, 0.2);
  animation: animate 5s ease-in-out infinite;
  transform: all 1s ease-in-out;
}

@keyframes animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.stacks {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 40px;
}

.stacks p {
    font-size: 18px;
    font-weight: 500;
}

.stacks span {
    margin-left: 25px;
}

.slider {
  width: 400px;
  overflow: hidden;
  padding: 5px;
}

.slider-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
  transition: transform 0.3s ease-in-out;
}

.slider-list li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.slider-list li img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.aboutmesection {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.abtcontainer {
  width: 60%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
}

.abtimage {
  flex: 0 0 37%;
  height: 370px;
  position: relative;
}

.abtimage img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: block;
}


.rotatediv {
  position: absolute;
  bottom: -70px;
  right: -50px;
  width: 150px;
  height: 150px;
  background: rgb(248, 248, 111);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logos {
  position: absolute;
  width: 100px;
  height: 100px;
  background: url(https://w7.pngwing.com/pngs/476/1015/png-transparent-man-guy-male-business-laptop-computer-ethnic-working-office-thumbnail.png);
  background-size: cover;
  border-radius: 50%;
  filter: brightness(1.3) contrast(1.3);
}

.texter {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotateText 10s linear infinite;
}

.texter p {
  text-transform: uppercase;
  font-weight: 600;
}

@keyframes rotateText {
  0%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.texter span {
  position: absolute;
  left: 50%;
  font-size: 1.2em;
  transform-origin: 0 75px;
}


.abttext {
  flex: 0 0 50%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
}

.abttext h4 {
  text-transform: uppercase;
  font-weight: 800;
  color: rgb(20, 215, 241);
}

.abttext h3 {
  font-weight: 800;
}

.abttext p {
  font-size: 16px;
}