

.container {
    width: 100%;
    min-height: 340vh;
    display: flex;
    flex-direction: column;
}

.tophalf {
    flex: 1 1 50%;
    background-image: url('../image/image.jpg');
    background-size: 2000px;
    background-position: left -65px bottom 54%;
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5em;
}

.bottomhalf {
    flex: 1 1 50%;
    display: flex;
}

.titlediv {
    width: 400px;
    height: auto;
    border: 2px solid grey;
    position: absolute;
    top: 50px;
    left: 50px;
    box-shadow: 2px 5px 5px 2px grey;
    padding: 2em;
    line-height: 1.2;
    text-shadow: 2px 2px grey;
}
.titlediv h1 {
    width: 60%;
    font-size: 5em;
    font-family: abril fatce;
    font-weight: bolder;
    letter-spacing: -4px;
    margin: 20px 0;
    padding: 10px 0;
    border-bottom: 3px solid white;
    
}

.titlediv h3 {
    font-size: 1.8em;
    font-family: abril fatce;
    text-transform: uppercase;
    font-weight: 300;
    margin: 20px 0;
}

.siderbox {
    width: 520px;
    height: auto;
    background: linear-gradient(0.25turn, #a9abac, #ececec, #dad8d8);
    text-shadow: 2px 2px grey;
    text-align: right;
    padding: 20px 35px 20px 10px;
    box-shadow: 2px 5px 5px 2px grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.siderbox p:first-of-type {
    font-size: 7em;
    text-align: right;
    color: grey;
    height: 70px;
    
}

.siderbox p:nth-of-type(2) {
    font-size: 26px;
    color: white;
    text-align: right;
}

.leftsidertext {
    flex: 0 0 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.rightsidertext {
    flex: 0 0 25%;
    background: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5em 2em 0 2em;
    gap: 2em;
}

.carder {
    flex: 0 0 15%;
    line-height: 1;
    
}

.carder h1 {
    font-size: 8em;
    color: white;
    font-weight: 100;
}

.carder h3 {
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 200;
}

.topdiv {
    flex: 0 0 76%;
    padding-top: 5em;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    
}

.bottomdiv {
    flex: 0 0 24%;
    width: 100%;
    border-top: 4px solid gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.cntctdiv {
    flex: 0 0 30%;
    font-size: 30px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    line-height: 1;
    gap: 1em;
}
.cntctdiv span {
    font-weight: bold;
}

.bottomdiv form {
    flex: 0 0 30%;
    width: 80%;

}
.bottomdiv form input:first-of-type {
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    border: none;
    background: gainsboro;
    font-size: 26px;
    margin-right: 20px;
}
.bottomdiv form input:first-of-type::placeholder {
    color: white;

}

.bottomdiv form input:nth-of-type(2) {
    padding: 20px;
    width: 20%;
    border: none;
    border-radius: 10px;
    font-size: 26px;
    background: olivedrab;
    color: white;
}

.topdiv h1 {
    font-size: 4em;
    text-transform: uppercase;
    font-family: abril fatce;
    letter-spacing: -4px;
    text-shadow: 2px 2px grey;
    
}

.zone {
    font-size: 30px;
}

.zone i {
    margin-right: 10px;
}

.zone span {
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 5px;
}

hr {
    border-top: 2px solid gainsboro;
}



