@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');

body {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    height: 100vh;
    background: url(./image/background.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    font: 16px/ 1.5 Inter;
}

html {
    box-sizing: border-box;
}

.container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.card {
    padding: 20px;
    flex: 0 4 24%;
    background-color: #fff;
    
}

.card:nth-of-type(2){
    flex: 0 0 24%;
}

.card:nth-of-type(3){
    flex: 0 4 23%;
}


h2 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
}

.price {
    font-size: 22px;
    font-weight: 300;
}

span {
    font-size: 3em;
    font-weight: 700;
    
}

.subscription {
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 50px;
}
.card:nth-of-type(3) ul {
    margin-bottom: 10px;
}

li {
    margin: 5px;
}


i {
    padding-right: 5px;
}

button {
    margin-left: 10px;
    padding: 15px 36px;
    background: #000;
    color: white;
    border-radius: 5px;
  
}
