body {
    padding: 5em;
    margin: 0;
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90vw;
    gap: 2em;
    border: 2px solid blue;
}

h2 {
    height: 0;
}

.cards-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    flex: 1 0 auto;
}

h3 {
    padding-left: 10px;
}

.card {
    border: 2px solid #ccc;
    width: 260px;
    flex: 0 0 auto;
    display: flex;
    flex-wrap: wrap;
}


.card footer {
    border-top: 2px solid #ccc;
    padding: 10px;
}

.card p {
    padding: 10px;
}

.masonry {
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 1900px; 
    width: 1000px;
} 

.flex {
    flex: 0 0 auto;
    width: 1000px;
    justify-content: flex-start;
    align-items: flex-start;
    
    /* transform: translateX(35%); */
}
.card img {
    flex: 1 1 auto;
    overflow: hidden;
}

.flex .card {
    flex-direction: column;
    height: 750px;

}

.flex .card img {
    flex: 1 0 auto;
    width: 100%;
    overflow: hidden;
}

.flex .card footer {
    flex: 0 9 auto;
}

.flex .card section {
    flex: 1 1 auto;
}







